{% extends 'base.html' %}
{% block title %}Добавить новость{% endblock %}

{% block body %}
    <h1 class="h3 mb-3 fw-normal">Добавьте новую новость про Adronik Bot.</h1>
    <div class="container">
        <form class="p-4 p-md-5 border rounded-3 bg-light" method="post">
            <h4 class="pb-4 mb-4 fst-italic border-bottom">Новая новость</h4>
            <div class="form-floating">
                <input name="news_title" type="text" class="form-control" id="news_title" placeholder="Заголовок новости">
                <label for="news_title">Заголовок</label><br>
            </div>
            <div class="form-floating">
                <textarea name="news_text" class="form-control" placeholder="Текст новости"></textarea>
            </div><br>
            <button class="btn btn-primary w-100 py-2" type="submit">Добавить</button>
        </form>
    </div>
{% endblock %}